@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Semplicita";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/semplicita/SemplicitaPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Semplicita";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("/fonts/semplicita/SemplicitaPro-Medium.woff") format("woff");
}

@font-face {
  font-family: "Semplicita";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("/fonts/semplicita/SemplicitaPro-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Semplicita";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/fonts/semplicita/SemplicitaPro-Bold.woff") format("woff");
}

body {
  @apply text-[14px] antialiased font-semplicita font-normal tracking-[0.29px];
}

a {
  @apply transition-all duration-500;
}

input:focus {
  outline: none;
}
